In [9]:
#Implementing Python scripts to read JSON data files for both customer data and transaction logs. 
#************FOR CUSTOMERS**************
import pandas as pd  
customer_data = pd.read_json('customers.json') 
customer_data.head()

   customer_id     customer_name     country           city
0         9780      Jessica Hart  Martinique  South William
1         9169         Amy Clark  Kazakhstan     Davisville
2         6631  Danielle Elliott     Armenia     East Danny
3         8772     Robin Mendoza      Uganda    Johnsonbury
4         8913    Abigail Miller     Namibia  Wrightchester

In [10]:
#viewing the column names from the customes.json datasets
print(customer_data.columns)

Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')

In [11]:
#Performing EDA to understand the structure, relationships, and patterns within the data. 

#1.ensuring that the empty cells are removed 
new_df = customer_data.dropna() 
print(customer_data.columns)

Index(['customer_id', 'customer_name', 'country', 'city'], dtype='object')

In [12]:
#2. Display a boolean Series indicating whether each row in customer_data is a duplicate of a previous row 
print(customer_data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [13]:
#3. Display basic information about the DataFrame, including column types, non-null counts, and memory usage
print(customer_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1000 non-null   int64
 1   customer_name  1000 non-null   object
 2   country        1000 non-null   object
 3   city           1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB
None

In [14]:
#4. Generate and display summary statistics for numerical columns in the DataFrame
print(customer_data.describe())

       customer_id
count  1000.000000
mean   5053.297000
std    2792.627256
min     102.000000
25%    2662.000000
50%    5156.000000
75%    7395.000000
max    9991.000000

In [16]:
#*******************FOR TRANSACTION*********************
# Loading JSON file into a DataFrame
transaction_data = pd.read_json('transaction_logs.json')  
 # Displaying the last 5 rows of the DataFrame
print(transaction_data.tail())

      order_id  customer_id  product_id         product_name product_category  \
9995      9996         1496        9676  Range home & kitche   Home & Kitchen
9996      9997         7288        9927             Once toy             Toys
9997      9998         8381        3852          Human beaut           Beauty
9998      9999         5494        7324          Light beaut           Beauty
9999     10000         1490        6547      Source furnitur        Furniture

          payment_type  qty  price            datetime ecommerce_website_name  \
9995            Wallet   39  61151 2024-03-17 09:06:05            www.ebay.in
9996  Internet Banking   44  53963 2024-06-17 08:04:22          www.amazon.in
9997               UPI   48  26032 2023-02-05 04:20:30       www.tatacliq.com
9998               UPI   17  28277 2024-02-17 03:05:57           www.etsy.com
9999               UPI   34  91020 2023-01-11 03:02:53       www.flipkart.com

     payment_txn_id payment_txn_success      failure_reason
9995       03c982f7                   Y
9996       46bd0811                   N        Blocked Card
9997       d115279c                   Y
9998       6d1628b3                   N        Card Expired
9999       224381cd                   N  Insufficient Funds

In [17]:
#viewing the column names from the customes.json datasets
print(transaction_data.columns)

Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [18]:
#Performing EDA to understand the structure, relationships, and patterns within the data. 

#1.ensuring that the empty cells are removed 
new_df = transaction_data.dropna() 
print(transaction_data.columns)

Index(['order_id', 'customer_id', 'product_id', 'product_name',
       'product_category', 'payment_type', 'qty', 'price', 'datetime',
       'ecommerce_website_name', 'payment_txn_id', 'payment_txn_success',
       'failure_reason'],
      dtype='object')

In [20]:
#2. Display a boolean Series indicating whether each row in transaction_data is a duplicate of a previous row 
print(transaction_data.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [21]:
#3. Display basic information about the DataFrame, including column types, non-null counts, and memory usage
print(transaction_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                10000 non-null  int64
 1   customer_id             10000 non-null  int64
 2   product_id              10000 non-null  int64
 3   product_name            10000 non-null  object
 4   product_category        10000 non-null  object
 5   payment_type            10000 non-null  object
 6   qty                     10000 non-null  int64
 7   price                   10000 non-null  int64
 8   datetime                10000 non-null  datetime64[ns]
 9   ecommerce_website_name  10000 non-null  object
 10  payment_txn_id          10000 non-null  object
 11  payment_txn_success     10000 non-null  object
 12  failure_reason          10000 non-null  object
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 1015.8+ KB
None

In [22]:
#4. Generate and display summary statistics for numerical columns in the DataFrame
print(transaction_data.describe())

          order_id   customer_id   product_id           qty         price  \
count  10000.00000  10000.000000  10000.00000  10000.000000  10000.000000
mean    5000.50000   5540.854400   5153.96520     25.524800  49682.003700
min        1.00000    109.000000    201.00000      1.000000     10.000000
25%     2500.75000   3141.500000   2709.75000     13.000000  24704.750000
50%     5000.50000   5989.000000   5195.00000     26.000000  49245.500000
75%     7500.25000   8341.500000   7599.00000     38.000000  74755.000000
max    10000.00000   9991.000000   9996.00000     50.000000  99989.000000
std     2886.89568   2776.686488   2828.45628     14.456946  28860.567215

                            datetime
count                          10000
mean   2023-01-25 09:32:06.897900288
min              2021-07-24 00:13:42
25%       2022-04-29 00:09:34.500000
50%              2023-01-22 13:19:27
75%              2023-10-28 13:48:13
max              2024-07-23 08:41:09
std                              NaN

In [58]:
#Database Connection
import mysql.connector
db = mysql.connector.connect(
 host = "localhost",
 user="root",
 password = "5808",
 database = "mydatabase"
)

In [59]:
#Viewing all the databases present
cursor = db.cursor(buffered=2)
cursor.execute("show databases")
result=cursor.fetchall()
for row in result:
 print(row)

('demos',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('project_p0_revstore',)
('project_revstore',)
('projectp0',)
('sys',)

In [60]:
#creating a new database
cursor.execute("create database Project_P0_revstore")
result=cursor.fetchall()
for row in result:
 print(row)

DatabaseError: 1007 (HY000): Can't create database 'project_p0_revstore'; database exists

In [61]:
#using the database
cursor.execute("use Project_P0_revstore")

In [34]:
#Designing a normalized database schema based on the insights gained from EDA. 
#Ensuring that the schema adheres to database normalization principles to avoid redundancy and ensure data integrity. 
cursor.execute(
 '''CREATE TABLE Customers (
 customer_id INT PRIMARY KEY,
 customer_name VARCHAR(255) NOT NULL,
 country VARCHAR(100),
 city VARCHAR(100)
);''')


cursor.execute(
 '''CREATE TABLE Products (
 product_id INT PRIMARY KEY,
 product_name VARCHAR(255) NOT NULL,
 product_category VARCHAR(100)
);''')

cursor.execute(
 '''CREATE TABLE Orders (
 order_id INT PRIMARY KEY,
 customer_id INT,
 product_id INT,
 qty INT NOT NULL,
 price DECIMAL(10, 2) NOT NULL,
 datetime DATETIME NOT NULL,
 ecommerce_website_name VARCHAR(255),
 FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
 FOREIGN KEY (product_id) REFERENCES Products(product_id)
);
''')

cursor.execute('''
CREATE TABLE Payments (
 payment_id INT PRIMARY KEY AUTO_INCREMENT,
 order_id INT,
 payment_type VARCHAR(50),
 payment_txn_id VARCHAR(100),
 payment_txn_success BOOLEAN,
 failure_reason TEXT,
 FOREIGN KEY (order_id) REFERENCES Orders(order_id)
); ''')

In [62]:
#displaying all the tables
cursor.execute("show tables")
result=cursor.fetchall()
for row in result:
 print(row)

('customers',)
('orders',)
('payments',)
('products',)

In [36]:
import pandas as pd
#1. Firstly, loading the JSON data using pandas:
# Load JSON data
customers_df = pd.read_json('customers.json')
transaction_logs_df = pd.read_json('transaction_logs.json')

In [38]:
#2. Transform and clean the data as needed. Make sure the columns match the schema
# Convert datetime column to correct format
transaction_logs_df['datetime'] = pd.to_datetime(transaction_logs_df['datetime'])
transaction_logs_df['payment_txn_success'] = transaction_logs_df['payment_txn_success'].astype(bool)

In [47]:
import pandas as pd
import mysql.connector
import time

# Load JSON data
customers_df = pd.read_json('customers.json')
transaction_logs_df = pd.read_json('transaction_logs.json')

# Convert datetime column to correct format
transaction_logs_df['datetime'] = pd.to_datetime(transaction_logs_df['datetime'])
transaction_logs_df['payment_txn_success'] = transaction_logs_df['payment_txn_success'].astype(bool)

MAX_RETRIES = 5
RETRY_DELAY = 2  # seconds

for attempt in range(MAX_RETRIES):
    try:
        # Connect to MySQL
        conn = mysql.connector.connect(
            host='localhost',
            user='root',  # Replace with your MySQL username
            password='5808',  # Replace with your MySQL password
            database='Project_p0_revstore'  # Replace with your MySQL database name
        )
        cursor = conn.cursor()

        # Insert data into Customers table
        for index, row in customers_df.iterrows():
            cursor.execute("""
                INSERT INTO Customers (customer_id, customer_name, country, city)
                VALUES (%s, %s, %s, %s)
                ON DUPLICATE KEY UPDATE
                customer_name = VALUES(customer_name),
                country = VALUES(country),
                city = VALUES(city)
            """, (row['customer_id'], row['customer_name'], row['country'], row['city']))

        # Insert data into Products table
        products_df = transaction_logs_df[['product_id', 'product_name', 'product_category']].drop_duplicates()

        for index, row in products_df.iterrows():
            cursor.execute("""
                INSERT INTO Products (product_id, product_name, product_category)
                VALUES (%s, %s, %s)
                ON DUPLICATE KEY UPDATE
                product_name = VALUES(product_name),
                product_category = VALUES(product_category)
            """, (row['product_id'], row['product_name'], row['product_category']))

        # Insert data into Orders table
        for index, row in transaction_logs_df.iterrows():
            cursor.execute("""
                INSERT INTO Orders (order_id, customer_id, product_id, qty, price, datetime, ecommerce_website_name)
                VALUES (%s, %s, %s, %s, %s, %s, %s)
            """, (row['order_id'], row['customer_id'], row['product_id'], row['qty'], row['price'], row['datetime'], row['ecommerce_website_name']))

        # Insert data into Payments table
        for index, row in transaction_logs_df.iterrows():
            cursor.execute("""
                INSERT INTO Payments (order_id, payment_type, payment_txn_id, payment_txn_success, failure_reason)
                VALUES (%s, %s, %s, %s, %s)
            """, (row['order_id'], row['payment_type'], row['payment_txn_id'], row['payment_txn_success'], row['failure_reason']))

        # Commit the transaction
        conn.commit()
        print("Data inserted successfully.")
        break  # Exit loop if successful

    except mysql.connector.Error as err:
        print(f"Error: {err}")
        if err.errno == 1045:  # Access denied
            print("Access denied for user. Please check credentials.")
            break  # Stop retrying
        elif err.errno == 1205:  # Lock wait timeout
            print(f"Lock wait timeout exceeded. Retrying ({attempt + 1}/{MAX_RETRIES})...")
        elif err.errno == 2006:  # MySQL server has gone away
            print("MySQL server has gone away. Reconnecting...")
        elif err.errno == 2055:  # Cursor is not connected
            print("Cursor is not connected. Reconnecting...")
        time.sleep(RETRY_DELAY)
        if 'conn' in locals() and conn.is_connected():
            conn.rollback()  # Rollback the transaction
            cursor.close()
            conn.close()
    finally:
        # Ensure resources are cleaned up
        if 'conn' in locals() and conn.is_connected():
            cursor.close()
            conn.close()

Data inserted successfully.

In [63]:
import mysql.connector
import pandas as pd

# Define connection parameters
conn_params = {
    'host': 'localhost',
    'user': 'root',  # Replace with your MySQL username
    'password': '5808',  # Replace with your MySQL password
    'database': 'Project_P0_revstore'  # Replace with your MySQL database name
}

def execute_query(query):
    try:
        # Connect to MySQL
        conn = mysql.connector.connect(**conn_params)
        cursor = conn.cursor(dictionary=True)  # Use dictionary cursor for easy access
        cursor.execute(query)
        records = cursor.fetchall()
        df = pd.DataFrame(records)
        return df
    except mysql.connector.Error as err:
        print(f"Error: {err}")
        return None
    finally:
        # Ensure resources are cleaned up
        cursor.close()
        conn.close()

In [65]:
#1. Testing Customers Table Record Count
query = "SELECT COUNT(*) AS count FROM Customers"
df = execute_query(query)
if df is not None:
    actual_count = df.iloc[0]['count']
    print(f"Customers table record count: {actual_count}")

Customers table record count: 1000

In [66]:
#2. Testing Products Table Record Count
query = "SELECT COUNT(*) AS count FROM Products"
df = execute_query(query)
if df is not None:
    actual_count = df.iloc[0]['count']
    print(f"Products table record count: {actual_count}")

Products table record count: 6281

In [67]:
#3. Testing Orders Table Record Count
query = "SELECT COUNT(*) AS count FROM Orders"
df = execute_query(query)
if df is not None:
    actual_count = df.iloc[0]['count']
    print(f"Orders table record count: {actual_count}")

Orders table record count: 10000

In [68]:
#4. Testing Payments Table Record Count
query = "SELECT COUNT(*) AS count FROM Payments"
df = execute_query(query)
if df is not None:
    actual_count = df.iloc[0]['count']
    print(f"Payments table record count: {actual_count}")

Payments table record count: 10000

In [69]:
#5. Testing Specific Customer Data
query = "SELECT * FROM Customers WHERE customer_id = 1731"
df = execute_query(query)
if df is not None:
    if not df.empty:
        print("Specific customer data found:")
        print(df)
    else:
        print("No record found.")

Specific customer data found:
   customer_id    customer_name country      city
0         1731  Angie Dodson MD  Belize  Smithton

In [70]:
#6. Testing Specific Product Data
query = "SELECT * FROM Products WHERE product_id = 2409"
df = execute_query(query)
if df is not None:
    if not df.empty:
        print("Specific product data found:")
        print(df)
    else:
        print("No record found.")

Specific product data found:
   product_id product_name product_category
0        2409   Upon sport           Sports

In [72]:
#7. Testing Specific Orders Data
query = "SELECT * FROM orders WHERE order_id = 1"
df = execute_query(query)
if df is not None:
    if not df.empty:
        print("Specific order data found:")
        print(df)
    else:
        print("No record found.")

Specific order data found:
   order_id  customer_id  product_id  qty     price            datetime  \
0         1         1731        8609   25  64216.00 2021-07-26 20:16:14

  ecommerce_website_name
0        www.bestbuy.com

In [73]:
#8. Testing Specific Payments Data
query = "SELECT * FROM payments WHERE order_id = 1"
df = execute_query(query)
if df is not None:
    if not df.empty:
        print("Specific data found:")
        print(df)
    else:
        print("No record found.")

Specific data found:
   payment_id  order_id payment_type payment_txn_id  payment_txn_success  \
0           1         1       Wallet       a395e8c7                    1

  failure_reason
0   Card Expired

In [74]:
#9. Testing Orders with Missing Customers
query = """
SELECT * FROM Orders o
LEFT JOIN Customers c ON o.customer_id = c.customer_id
WHERE c.customer_id IS NULL
"""
df = execute_query(query)
if df is not None:
    if df.empty:
        print("Foreign key constraints are correct.")
    else:
        print("Foreign key constraints issue found:")
        print(df)

Foreign key constraints are correct.

In [75]:
#10. Testing Orders with Missing Products
query = """
SELECT * FROM Orders o
LEFT JOIN Products p ON o.product_id = p.product_id
WHERE p.product_id IS NULL
"""
df = execute_query(query)
if df is not None:
    if df.empty:
        print("Foreign key constraints are correct.")
    else:
        print("Foreign key constraints issue found:")
        print(df)

Foreign key constraints are correct.

In [76]:
#11. Testing Duplicate Products
query = """
SELECT product_id, COUNT(*) as count
FROM Products
GROUP BY product_id
HAVING count > 1
"""
df = execute_query(query)
if df is not None:
    if df.empty:
        print("No duplicate records found in Products table.")
    else:
        print("Duplicate records found in Products table:")
        print(df)

No duplicate records found in Products table.

In [78]:
#12. Testing Duplicate Orders
query = """
SELECT order_id, COUNT(*) as count
FROM Orders
GROUP BY order_id
HAVING count > 1
"""
df = execute_query(query)
if df is not None:
    if df.empty:
        print("No duplicate records found in Orders table.")
    else:
        print("Duplicate records found in Orders table:")
        print(df)

No duplicate records found in Orders table.